@page
@model EcommerceFrontend.Web.Pages.CommonPage.HomepageModel
@{
    Layout = "_Layout";
}

<style>
/* Đảm bảo slick slider full chiều cao và full width */
.wrap-slick1, .slick1, .item-slick1 {
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    left: 0;
    margin: 0;
    position: relative;
}
.wrap-slick1 {
    margin-top: 100px;
}
.item-slick1 {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    height: 600px;
}
.slick1 .h-full {
    height: 100%;
}
.flex-col-l-m.h-full {
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
/* Card sản phẩm đều đẹp */
.card.h-100 {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.card-body {
    flex: 1 1 auto;
}
.card-img-top {
    height: 200px;
    object-fit: cover;
    width: 100%;
    background: #f8f8f8;
}
.card-footer {
    background: none;
    border-top: none;
}
.row.row-cols-md-4 {
    align-items: stretch;
}
</style>

<!-- ĐẢM BẢO IMPORT SLICK CSS ĐÚNG VÀ ĐẦU TIÊN -->
<link rel="stylesheet" type="text/css" href="~/vendor/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="~/vendor/slick/slick-theme.css" />

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/vendor/slick/slick-theme.css" />
    <style>
        /* Slick Slider Styles */
        .wrap-slick2 {
            position: relative;
        }
        
        .slick2 {
            margin: 0 -15px;
        }
        
        .item-slick2 {
            padding: 0 15px;
        }
        
        .block2 {
            background: white;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);
            transition: transform 0.3s ease;
        }
        
        .block2:hover {
            transform: translateY(-5px);
        }
        
        .block2-pic {
            position: relative;
            height: 300px;
            overflow: hidden;
        }
        
        .block2-pic img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .block2-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity 0.3s ease;
        }
        
        .block2-pic:hover .block2-btn {
            opacity: 1;
        }
        
        .block2-txt {
            padding: 15px;
        }
        
        .stext-104 {
            font-size: 14px;
            font-weight: 500;
            color: #333;
            margin-bottom: 8px;
            display: block;
        }
        
        .stext-105 {
            font-size: 16px;
            font-weight: 600;
            color: #e65540;
        }
        
        .btn-addwish-b2 {
            position: relative;
            display: block;
        }
        
        .icon-heart1, .icon-heart2 {
            width: 20px;
            height: 20px;
        }
        
        .icon-heart2 {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }
        
        .btn-addwish-b2:hover .icon-heart2 {
            opacity: 1;
        }
    </style>
}

<!-- ===== HEADER, SLIDER, BANNER từ trang home gốc ===== -->
<header class="header-v2">
    <!-- Header desktop -->
    <div class="container-menu-desktop trans-03">
        <div class="wrap-menu-desktop">
            <nav class="limiter-menu-desktop p-l-45">
                <!-- Logo desktop -->
                <a href="#" class="logo">
                    <img src="~/images/icons/logo-01.png" alt="IMG-LOGO">
                </a>
                <!-- Menu desktop -->
                <div class="menu-desktop">
                    <ul class="main-menu">
                        <li class="active-menu">
                            <a href="index.html">Home</a>
                            <ul class="sub-menu">
                                <li><a href="index.html">Homepage 1</a></li>
                                <li><a href="home-02.html">Homepage 2</a></li>
                                <li><a href="home-03.html">Homepage 3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="product.html">Shop</a>
                        </li>
                        <li class="label1" data-label1="hot">
                            <a href="shoping-cart.html">Features</a>
                        </li>
                        <li>
                            <a href="blog.html">Blog</a>
                        </li>
                        <li>
                            <a href="about.html">About</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- Icon header -->
                <div class="wrap-icon-header flex-w flex-r-m h-full">
                    <div class="flex-c-m h-full p-r-24">
                        <div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 js-show-modal-search">
                            <i class="zmdi zmdi-search"></i>
                        </div>
                    </div>
                    <div class="flex-c-m h-full p-l-18 p-r-25 bor5">
                        <div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 icon-header-noti js-show-cart" data-notify="2">
                            <i class="zmdi zmdi-shopping-cart"></i>
                        </div>
                    </div>
                    <div class="flex-c-m h-full p-lr-19">
                        <div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 js-show-sidebar">
                            <i class="zmdi zmdi-menu"></i>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Header Mobile -->
    <div class="wrap-header-mobile">
        <div class="logo-mobile">
            <a href="index.html"><img src="~/images/icons/logo-01.png" alt="IMG-LOGO"></a>
        </div>
        <div class="wrap-icon-header flex-w flex-r-m h-full m-r-15">
            <div class="flex-c-m h-full p-r-10">
                <div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 js-show-modal-search">
                    <i class="zmdi zmdi-search"></i>
                </div>
            </div>
            <div class="flex-c-m h-full p-lr-10 bor5">
                <div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 icon-header-noti js-show-cart" data-notify="2">
                    <i class="zmdi zmdi-shopping-cart"></i>
                </div>
            </div>
        </div>
        <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </div>
    </div>
    <div class="menu-mobile">
        <ul class="main-menu-m">
            <li>
                <a href="index.html">Home</a>
                <ul class="sub-menu-m">
                    <li><a href="index.html">Homepage 1</a></li>
                    <li><a href="home-02.html">Homepage 2</a></li>
                    <li><a href="home-03.html">Homepage 3</a></li>
                </ul>
                <span class="arrow-main-menu-m">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
            </li>
            <li>
                <a href="product.html">Shop</a>
            </li>
            <li>
                <a href="shoping-cart.html" class="label1 rs1" data-label1="hot">Features</a>
            </li>
            <li>
                <a href="blog.html">Blog</a>
            </li>
            <li>
                <a href="about.html">About</a>
            </li>
            <li>
                <a href="contact.html">Contact</a>
            </li>
        </ul>
    </div>
    <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
        <div class="container-search-header">
            <button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
                <img src="~/images/icons/icon-close2.png" alt="CLOSE">
            </button>
            <form class="wrap-search-header flex-w p-l-15">
                <button class="flex-c-m trans-04">
                    <i class="zmdi zmdi-search"></i>
                </button>
                <input class="plh3" type="text" name="search" placeholder="Search...">
            </form>
        </div>
    </div>
</header>

<!-- SLIDER ẢNH LỚN -->
<div class="wrap-slick1">
    <div class="slick1">
        <div class="item-slick1" style="background-image: url('@Url.Content("~/images/banner-04.jpg")');">
            <div class="h-full">
                <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                    <span class="ltext-101 cl2 respon2">
                        Bộ sưu tập nam
                    </span>
                    <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                        THẾ GIỚI THỜI TRANG
                    </h2>
                    <a href="/Products" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                        MUA NGAY
                    </a>
                </div>
            </div>
        </div>
        <div class="item-slick1" style="background-image: url('@Url.Content("~/images/banner-05.jpg")');">
            <div class="h-full">
                <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                    <span class="ltext-101 cl2 respon2">
                        Bộ sưu tập nữ
                    </span>
                    <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                        PHONG CÁCH HIỆN ĐẠI
                    </h2>
                    <a href="/Products" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                        MUA NGAY
                    </a>
                </div>
            </div>
        </div>
        <div class="item-slick1" style="background-image: url('@Url.Content("~/images/banner-06.jpg")');">
            <div class="h-full">
                <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                    <span class="ltext-101 cl2 respon2">
                        Bộ sưu tập phụ kiện
                    </span>
                    <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                        ĐẲNG CẤP & SANG TRỌNG
                    </h2>
                    <a href="/Products" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                        MUA NGAY
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Banner nhỏ dưới slider -->
<div class="sec-banner bg0">
    <div class="flex-w flex-c-m">
        <div class="size-202 m-lr-auto respon4">
            <div class="block1 wrap-pic-w">
                <img src="~/images/banner-04.jpg" alt="IMG-BANNER">
                <a href="/Products?category=Women" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                    <div class="block1-txt-child1 flex-col-l">
                        <span class="block1-name ltext-102 trans-04 p-b-8">Women</span>
                        <span class="block1-info stext-102 trans-04">Spring 2024</span>
                    </div>
                    <div class="block1-txt-child2 p-b-4 trans-05">
                        <div class="block1-link stext-101 cl0 trans-09">Shop Now</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="size-202 m-lr-auto respon4">
            <div class="block1 wrap-pic-w">
                <img src="~/images/banner-05.jpg" alt="IMG-BANNER">
                <a href="/Products?category=Men" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                    <div class="block1-txt-child1 flex-col-l">
                        <span class="block1-name ltext-102 trans-04 p-b-8">Men</span>
                        <span class="block1-info stext-102 trans-04">Spring 2024</span>
                    </div>
                    <div class="block1-txt-child2 p-b-4 trans-05">
                        <div class="block1-link stext-101 cl0 trans-09">Shop Now</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="size-202 m-lr-auto respon4">
            <div class="block1 wrap-pic-w">
                <img src="~/images/banner-06.jpg" alt="IMG-BANNER">
                <a href="/Products?category=Bags" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                    <div class="block1-txt-child1 flex-col-l">
                        <span class="block1-name ltext-102 trans-04 p-b-8">Bags</span>
                        <span class="block1-info stext-102 trans-04">New Trend</span>
                    </div>
                    <div class="block1-txt-child2 p-b-4 trans-05">
                        <div class="block1-link stext-101 cl0 trans-09">Shop Now</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- ===== PHẦN SẢN PHẨM MỚI - STORE OVERVIEW ===== -->
<section class="sec-product bg0 p-t-100 p-b-50">
    <div class="container">
        <div class="p-b-32">
            <h3 class="ltext-105 cl5 txt-center respon1">
                Store Overview
            </h3>
        </div>

        <!-- Tab01 -->
        <div class="tab01">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item p-b-10">
                    <a class="nav-link active" data-toggle="tab" href="#best-seller" role="tab">Best Seller</a>
                </li>
                <li class="nav-item p-b-10">
                    <a class="nav-link" data-toggle="tab" href="#featured" role="tab">Featured</a>
                </li>
                <li class="nav-item p-b-10">
                    <a class="nav-link" data-toggle="tab" href="#sale" role="tab">Sale</a>
                </li>
                <li class="nav-item p-b-10">
                    <a class="nav-link" data-toggle="tab" href="#top-rate" role="tab">Top Rate</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content p-t-50">
                <!-- Best Seller -->
                <div class="tab-pane fade show active" id="best-seller" role="tabpanel">
                    <div class="wrap-slick2">
                        <div class="slick2">
                            @foreach (var product in Model.Products.Take(8))
                            {
                                <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
                                    <div class="block2">
                                        <div class="block2-pic hov-img0">
                                            <img src="@(product.Images.Any() ? product.GetFirstImageUrl(Model.ApiBaseUrl) : Url.Content("~/images/product-min-01.jpg"))" alt="IMG-PRODUCT">
                                            <a href="/Products/Details/@product.ProductId" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                                                Quick View
                                            </a>
                                        </div>
                                        <div class="block2-txt flex-w flex-t p-t-14">
                                            <div class="block2-txt-child1 flex-col-l ">
                                                <a href="/Products/Details/@product.ProductId" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                    @product.Name
                                                </a>
                                                <span class="stext-105 cl3">
                                                    $@product.BasePrice.ToString("N2")
                                                </span>
                                            </div>
                                            <div class="block2-txt-child2 flex-r p-t-3">
                                                <a href="/Products/Details/@product.ProductId" class="btn-addwish-b2 dis-block pos-relative">
                                                    <img class="icon-heart1 dis-block trans-04" src="~/images/icons/icon-heart-01.png" alt="ICON">
                                                    <img class="icon-heart2 dis-block trans-04 ab-t-l" src="~/images/icons/icon-heart-02.png" alt="ICON">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <!-- Featured -->
                <div class="tab-pane fade" id="featured" role="tabpanel">
                    <div class="wrap-slick2">
                        <div class="slick2">
                            @if (Model.FeaturedProducts != null && Model.FeaturedProducts.Any())
                            {
                                @foreach (var product in Model.FeaturedProducts)
                                {
                                    <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
                                        <div class="block2">
                                            <div class="block2-pic hov-img0">
                                                <img src="@(product.Images.Any() ? product.GetFirstImageUrl(Model.ApiBaseUrl) : Url.Content("~/images/product-min-01.jpg"))" alt="IMG-PRODUCT">
                                                <a href="/Products/Details/@product.ProductId" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                                                    Quick View
                                                </a>
                                            </div>
                                            <div class="block2-txt flex-w flex-t p-t-14">
                                                <div class="block2-txt-child1 flex-col-l ">
                                                    <a href="/Products/Details/@product.ProductId" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                        @product.Name
                                                    </a>
                                                    <span class="stext-105 cl3">
                                                        $@product.BasePrice.ToString("N2")
                                                    </span>
                                                </div>
                                                <div class="block2-txt-child2 flex-r p-t-3">
                                                    <a href="/Products/Details/@product.ProductId" class="btn-addwish-b2 dis-block pos-relative">
                                                        <img class="icon-heart1 dis-block trans-04" src="~/images/icons/icon-heart-01.png" alt="ICON">
                                                        <img class="icon-heart2 dis-block trans-04 ab-t-l" src="~/images/icons/icon-heart-02.png" alt="ICON">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="col-12 text-center">
                                    <p>No featured products available.</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <!-- Sale -->
                <div class="tab-pane fade" id="sale" role="tabpanel">
                    <div class="wrap-slick2">
                        <div class="slick2">
                            @if (Model.SaleProducts != null && Model.SaleProducts.Any())
                            {
                                @foreach (var product in Model.SaleProducts)
                                {
                                    <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
                                        <div class="block2">
                                            <div class="block2-pic hov-img0">
                                                <img src="@(product.Images.Any() ? product.GetFirstImageUrl(Model.ApiBaseUrl) : Url.Content("~/images/product-min-01.jpg"))" alt="IMG-PRODUCT">
                                                <a href="/Products/Details/@product.ProductId" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                                                    Quick View
                                                </a>
                                            </div>
                                            <div class="block2-txt flex-w flex-t p-t-14">
                                                <div class="block2-txt-child1 flex-col-l ">
                                                    <a href="/Products/Details/@product.ProductId" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                        @product.Name
                                                    </a>
                                                    <span class="stext-105 cl3">
                                                        $@product.BasePrice.ToString("N2")
                                                    </span>
                                                </div>
                                                <div class="block2-txt-child2 flex-r p-t-3">
                                                    <a href="/Products/Details/@product.ProductId" class="btn-addwish-b2 dis-block pos-relative">
                                                        <img class="icon-heart1 dis-block trans-04" src="~/images/icons/icon-heart-01.png" alt="ICON">
                                                        <img class="icon-heart2 dis-block trans-04 ab-t-l" src="~/images/icons/icon-heart-02.png" alt="ICON">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="col-12 text-center">
                                    <p>No sale products available.</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <!-- Top Rate -->
                <div class="tab-pane fade" id="top-rate" role="tabpanel">
                    <div class="wrap-slick2">
                        <div class="slick2">
                            @if (Model.TopRateProducts != null && Model.TopRateProducts.Any())
                            {
                                @foreach (var product in Model.TopRateProducts)
                                {
                                    <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
                                        <div class="block2">
                                            <div class="block2-pic hov-img0">
                                                <img src="@(product.Images.Any() ? product.GetFirstImageUrl(Model.ApiBaseUrl) : Url.Content("~/images/product-min-01.jpg"))" alt="IMG-PRODUCT">
                                                <a href="/Products/Details/@product.ProductId" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                                                    Quick View
                                                </a>
                                            </div>
                                            <div class="block2-txt flex-w flex-t p-t-14">
                                                <div class="block2-txt-child1 flex-col-l ">
                                                    <a href="/Products/Details/@product.ProductId" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                        @product.Name
                                                    </a>
                                                    <span class="stext-105 cl3">
                                                        $@product.BasePrice.ToString("N2")
                                                    </span>
                                                </div>
                                                <div class="block2-txt-child2 flex-r p-t-3">
                                                    <a href="/Products/Details/@product.ProductId" class="btn-addwish-b2 dis-block pos-relative">
                                                        <img class="icon-heart1 dis-block trans-04" src="~/images/icons/icon-heart-01.png" alt="ICON">
                                                        <img class="icon-heart2 dis-block trans-04 ab-t-l" src="~/images/icons/icon-heart-02.png" alt="ICON">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="col-12 text-center">
                                    <p>No top rate products available.</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- OUR BLOG SECTION -->
<section class="sec-blog bg0 p-t-60 p-b-90">
    <div class="container">
        <div class="p-b-66">
            <h3 class="ltext-105 cl5 txt-center respon1">
                Our Blogs
            </h3>
        </div>
        <div class="row">
            @if (Model.Blogs != null && Model.Blogs.Any())
            {
                foreach (var blog in Model.Blogs)
                {
                    <div class="col-sm-6 col-md-4 p-b-40">
                        <div class="blog-item">
                            <div class="hov-img0">
                                <a href="/Blog/Details/@blog.BlogId">
                                    <img src="@(string.IsNullOrEmpty(blog.BlogImage) ? Url.Content("~/images/blog-01.jpg") : blog.BlogImage)" alt="IMG-BLOG">
                                </a>
                            </div>
                            <div class="p-t-15">
                                <div class="stext-107 flex-w p-b-14">
                                    <span class="m-r-3">
                                        <span class="cl4">By</span> @(string.IsNullOrEmpty(blog.UserName) ? "Admin" : blog.UserName)
                                        <span class="cl12 m-l-4 m-r-6">|</span>
                                    </span>
                                    <span>
                                        <span class="cl4">@(blog.PublishedDate?.ToString("dd MMM yyyy") ?? blog.CreatedDate?.ToString("dd MMM yyyy") ?? "N/A")</span>
                                    </span>
                                </div>
                                <h4 class="p-b-12">
                                    <a href="/Blog/Details/@blog.BlogId" class="mtext-101 cl2 hov-cl1 trans-04">
                                        @(string.IsNullOrEmpty(blog.BlogTittle) ? "Blog Title" : blog.BlogTittle)
                                    </a>
                                </h4>
                                <p class="stext-108 cl6">
                                    @(string.IsNullOrEmpty(blog.BlogSummary) ? "Click to read more about this interesting blog post..." : blog.BlogSummary)
                                </p>
                                <div class="flex-w flex-sb-m p-t-18">
                                    <span class="stext-107 cl6 p-r-3">
                                        <i class="fa fa-eye"></i> @blog.ViewCount views
                                    </span>
                                    <a href="/Blog/Details/@blog.BlogId" class="stext-101 cl2 hov-cl1 trans-04 m-t-10">
                                        Read More
                                        <i class="fa fa-long-arrow-right m-l-9"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                @* Dữ liệu mẫu cho blog khi không có blog nào *@
                <div class="col-sm-6 col-md-4 p-b-40">
                    <div class="blog-item">
                        <div class="hov-img0">
                            <a href="#">
                                <img src="~/images/blog-01.jpg" alt="IMG-BLOG">
                            </a>
                        </div>
                        <div class="p-t-15">
                            <div class="stext-107 flex-w p-b-14">
                                <span class="m-r-3">
                                    <span class="cl4">By</span> Admin
                                    <span class="cl12 m-l-4 m-r-6">|</span>
                                </span>
                                <span>
                                    <span class="cl4">22 Jan 2024</span>
                                </span>
                            </div>
                            <h4 class="p-b-12">
                                <a href="#" class="mtext-101 cl2 hov-cl1 trans-04">
                                    8 Inspiring Ways to Wear Dresses in the Winter
                                </a>
                            </h4>
                            <p class="stext-108 cl6">
                                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce quis tempus elit...
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 p-b-40">
                    <div class="blog-item">
                        <div class="hov-img0">
                            <a href="#">
                                <img src="~/images/blog-02.jpg" alt="IMG-BLOG">
                            </a>
                        </div>
                        <div class="p-t-15">
                            <div class="stext-107 flex-w p-b-14">
                                <span class="m-r-3">
                                    <span class="cl4">By</span> Admin
                                    <span class="cl12 m-l-4 m-r-6">|</span>
                                </span>
                                <span>
                                    <span class="cl4">18 Jan 2024</span>
                                </span>
                            </div>
                            <h4 class="p-b-12">
                                <a href="#" class="mtext-101 cl2 hov-cl1 trans-04">
                                    The Great Big List of Men's Gifts for the Holidays
                                </a>
                            </h4>
                            <p class="stext-108 cl6">
                                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce quis tempus elit...
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 p-b-40">
                    <div class="blog-item">
                        <div class="hov-img0">
                            <a href="#">
                                <img src="~/images/blog-03.jpg" alt="IMG-BLOG">
                            </a>
                        </div>
                        <div class="p-t-15">
                            <div class="stext-107 flex-w p-b-14">
                                <span class="m-r-3">
                                    <span class="cl4">By</span> Admin
                                    <span class="cl12 m-l-4 m-r-6">|</span>
                                </span>
                                <span>
                                    <span class="cl4">16 Jan 2024</span>
                                </span>
                            </div>
                            <h4 class="p-b-12">
                                <a href="#" class="mtext-101 cl2 hov-cl1 trans-04">
                                    5 Winter-to-Spring Fashion Trends to Try Now
                                </a>
                            </h4>
                            <p class="stext-108 cl6">
                                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce quis tempus elit...
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<!-- FOOTER -->
<footer class="bg3 p-t-75 p-b-32">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Categories
                </h4>
                <ul>
                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Women
                        </a>
                    </li>
                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Men
                        </a>
                    </li>
                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Shoes
                        </a>
                    </li>
                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Watches
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Help
                </h4>
                <ul>
                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Track Order
                        </a>
                    </li>
                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Returns
                        </a>
                    </li>
                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Shipping
                        </a>
                    </li>
                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            FAQs
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    GET IN TOUCH
                </h4>
                <p class="stext-107 cl7 size-201">
                    Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
                </p>
                <div class="p-t-27">
                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-pinterest-p"></i>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Newsletter
                </h4>
                <form>
                    <div class="wrap-input1 w-full p-b-4">
                        <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="email@example.com">
                        <div class="focus-input1 trans-04"></div>
                    </div>
                    <div class="p-t-18">
                        <button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                            Subscribe
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="p-t-40">
            <div class="flex-c-m flex-w p-b-18">
                <a href="#" class="m-all-1">
                    <img src="~/images/icons/icon-pay-01.png" alt="ICON-PAY">
                </a>
                <a href="#" class="m-all-1">
                    <img src="~/images/icons/icon-pay-02.png" alt="ICON-PAY">
                </a>
                <a href="#" class="m-all-1">
                    <img src="~/images/icons/icon-pay-03.png" alt="ICON-PAY">
                </a>
                <a href="#" class="m-all-1">
                    <img src="~/images/icons/icon-pay-04.png" alt="ICON-PAY">
                </a>
                <a href="#" class="m-all-1">
                    <img src="~/images/icons/icon-pay-05.png" alt="ICON-PAY">
                </a>
            </div>
            <p class="stext-107 cl6 txt-center">
                Copyright &copy; 2024 All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#" target="_blank">Your Company</a>
            </p>
        </div>
    </div>
</footer>

@section Scripts {
    <style>
        /* Ensure tabs work properly */
        .tab-content > .tab-pane {
            display: none;
        }
        .tab-content > .active {
            display: block;
        }
        .nav-tabs .nav-link {
            cursor: pointer;
        }
        .nav-tabs .nav-link.active {
            background-color: #e6e6e6;
            border-color: #dee2e6 #dee2e6 #fff;
        }
    </style>
    <script src="~/vendor/slick/slick.min.js"></script>
    <script>
        $(document).ready(function(){
            // Debug: Log tab click events
            $('a[data-toggle="tab"]').on('click', function (e) {
                console.log('Tab clicked:', $(this).text(), 'href:', $(this).attr('href'));
            });

            // Initialize Bootstrap tabs
            $('a[data-toggle="tab"]').on('click', function (e) {
                e.preventDefault();
                $(this).tab('show');
            });

            // Wait a bit for DOM to be fully ready
            setTimeout(function() {
                // Debug: Check if products exist
                console.log('Featured products count:', $('.tab-pane#featured .item-slick2').length);
                console.log('Sale products count:', $('.tab-pane#sale .item-slick2').length);
                console.log('Top rate products count:', $('.tab-pane#top-rate .item-slick2').length);

                // Initialize slick2 for each tab
                $('.slick2').each(function(){
                    if (!$(this).hasClass('slick-initialized')) {
                        $(this).slick({
                            slidesToShow: 4,
                            slidesToScroll: 1,
                            autoplay: false,
                            infinite: true,
                            speed: 300,
                            dots: false,
                            arrows: true,
                            responsive: [
                                {
                                    breakpoint: 991,
                                    settings: {
                                        slidesToShow: 3,
                                        slidesToScroll: 1
                                    }
                                },
                                {
                                    breakpoint: 767,
                                    settings: {
                                        slidesToShow: 2,
                                        slidesToScroll: 1
                                    }
                                },
                                {
                                    breakpoint: 480,
                                    settings: {
                                        slidesToShow: 1,
                                        slidesToScroll: 1
                                    }
                                }
                            ]
                        });
                    }
                });

                // Reinitialize slick2 when tab is shown
                $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                    var nameTab = $(e.target).attr('href'); 
                    console.log('Tab shown:', nameTab);
                    $(nameTab).find('.slick2').slick('reinit');          
                });
            }, 100);
        });
    </script>
}